version: '3.8'

services:
  web:
    build: .
    ports:
      - "80:5001"
    environment:
      - FLASK_APP=app.py
      - FLASK_DEBUG=0
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/flask_db
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
    restart: always

  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=flask_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
